<%-include('./partials/header')%>

<body>
<h1> Weclome to Jigger </h1>
<h3>An application to find, favorite and examine various cocktails that you've tried and liked in the past</h3>
</body>


<%-include('./partials/footer')%>