<%- include('../partials/header') %>

<h1>this is the search page</h1>

<form action ="/cocktails/search" method="post">
    <input type="text" name="search" id="">
    <button type="submit">Submit</button>

</form>

<%- include('../partials/footer') %>